<div class="limitWidth">
    <h2>Book Design in Saskatoon</h2>
    <p>Confidant is one-stop shopping for authors and publishers needing to produce and sell books. We have expertise in:</p>
	<p><img class="contentImg" width="200" height="200" src="/images/books.png" alt="3-D Coin image with the words Book Design" /></p>
    <ul class="checky">
        <li>Book cover design</li>
        <li>Book layout design</li>
        <li>Book selling via web store / e-commerce</li>
        <li>Preparing e-books in multiple formats and publishing them with online e-book retailers</li>
        <li>Assistance with ISBN in Canada</li>
        <li>Book illustration</li>
        <li>Assistance with editing and printing</li>
    </ul>
    <p>Visit our <a href="/portfolio/book-cover-design/" rel="pushstate"></a>book design portfolio page</a> to see our work, then <a href="/contact/" rel="pushstate">give us a call</a> today!</p>
    
</div>