
<div class="limitWidth">

	<h2>Graphic Design</h2>
	<p>
		You need pro design. You care about quality, and you care about ethics.
	</p>
	<p><img class="contentImg" src="/images/allan-nice-photo.png" alt="Photo of Allan Dowdeswell, CGD" />
		Allan Dowdeswell <abbr title="Certified Graphic Designer">CGD</abbr> of Confidant Communications is:
	</p>
	<ul>
		<li>Winner of the 2009 Premier’s Award for Excellence in Graphic Design.</li>
		<li>Certified with the Graphic Designers of Canada. This requires seven (7) years of combined professional experience and/or education, and adherence to the <a href="https://gdc.design/code-of-ethics" target="_blank">GDC Code of Ethics.</a> </li>
	</ul>
	<p><a href="/contact/" rel="pushstate">Call us today</a> to discuss your needs!</p>
	<p class="cgd"><img src="/images/GDC-CGD_Certification_Mark-email.png" alt="CGD Certified" /></p>
	
</div>