<div class="limitWidth">

	<h2>Graphic Design in Saskatoon</h2>
	<p>You need pro design. You care about quality, and you care about ethics.</p>
	<p><img class="contentImg" width="200" height="200" src="/images/graphics.png" alt="Coin with words Graphic Design" />Whether you need design for corporate branding, annual reports, logos, brochures, books, illustration, websites, motion graphics, signs, displays, packaging, or grandma’s recipe cards (long story) our senior designer can get it done.</p><p>Allan Dowdeswell <abbr title="Certified Graphic Designer">CGD</abbr> is:
	</p><img class="contentImg" width="200" height="200" src="/images/allan.png" alt="Photo of Allan Dowdeswell, CGD graphic designer" />
	<ul class="checky">
		<li>Really experienced (pro since 1995).</li>
		<li>Winner of the 2009 Premier’s Award for Excellence in Graphic Design.</li>
		<li>Winner of AMTEC awards in 2002 and 2005</li>
		<li>Certified with the Graphic Designers of Canada. This requires seven (7) years of combined professional experience and/or education, a portfolio review, and adherence to the <a href="https://gdc.design/code-of-ethics" target="_blank">GDC Code of Ethics.</a> He has served many years as the Ethics Chair of the <abbr title="Graphic Designers of Canada">GDC</abbr> Saskatchewan North Chapter in Saskatoon.</li>
		<li>Passionate about design, integrity, and good humour.</li>
	</ul>
	<p><a href="/contact/" rel="pushstate">Call us today</a> to discuss your needs!</p>
	<p class="cgd"><img src="/images/GDC-CGD_Certification_Mark-email.png" alt="CGD Certified" /></p>
	
</div>