<div class="limitWidth">
    <h2>Interactive and Media Services in Saskatoon</h2>

	<img src="/images/interactive.png" width="200" height="200" class="contentImg" alt="Wordmark for Interactive Development, reminiscent of a Pac-Man video game character." />
    <p>We used to author CD-ROMs and DVDs.<br />Sorry about that.</p>
    <p>However, you’ll be glad to hear we were also right in the middle of things as web interactivity took off in the mid-90s. It left us with a ton of knowledge about application programming, audio and video encoding, 3-D modeling, JavaScript libraries, web standards and such. We can even share all the ugly details about image compression if you get us going.</p>
    <p>Nowadays we can do:</p>
    <ul class="checky">
        <li>Advanced interactive programming (HTML5, Flash, Haxe, JavaScript)</li>
        <li>Desktop, mobile, and browser-based applications</li>
        <li>Data visualization</li>
        <li>2-D and 3-D animations / demonstrations</li>
        <li>Video editing and recording</li>
        <li>Audio recording and editing</li>
        <li>Music mixing and composing</li>
        <li>Game programming, especially educational games</li>
    </ul>
    <p>If it’s fancy and digital, chances are we can do it. Check out our <a href="/portfolio/" rel="pushstate">portfolio</a> or if you’re ready to get started, <a href="/contact/" rel="pushstate">give us a call!</a></p>
</div>
    