<div class="limitWidth">
	<h2>Pro Joomla! Development in Saskatoon</h2>
	<p><img class="contentImg" width="200" height="200" src="/images/joomla.png" alt="Joomla! logo emblazoned on a 3-D coin." />Joomla! is a popular and powerful content management system. We’ve been using it since its beginnings in 2002, so we know our stuff. Our expert help includes:</p>
	<ul class="checky">
		<li><strong>Quick Service.</strong> Tired of waiting for basic updates? We pride ourselves on responding quickly to maintenance requests.</li>
		<li><strong>Joomla! Training.</strong> We love teaching our clients how to get the most from their website. Our friendly, expert staff can come to your office in the Saskatoon area or coach you using a screen-cast.</li>
		<li><strong>Custom Design.</strong> We offer custom template development for Joomla! using our <a href="/about/graphic-design-saskatoon/" rel="pushstate">certified graphic designer</a>. We also offer custom plug-in, module, and component development. </li>
		<li><strong>High Performance.</strong> We enhance Joomla! to reduce site bloat and deliver only as much data as each device needs, as quickly as possible.</li>
		<li><strong>Regular Updates.</strong> When new security enhancements are available, we notify you by email so that you can choose whether to initiate them yourself or let us handle it.</li>
		<li><strong>Totally Mobile.</strong> Whether upgrading or building from scratch, we will make your website compatible with today’s handheld devices.</li>
		<li><strong>Safe and Secure.</strong> On all new Joomla! sites we install automatic backup and attacker-blocking software, and we enable SSL encryption.</li>
		<li><strong>Web Store Expertise.</strong> We can set you up to sell online. Need to integrate with a payment system, point-of-sale, or Canada Post? No&nbsp;problem!</li>
	</ul>
	<p>Trying to decide between Joomla! and another CMS?</p><p><a class="bevelButton" href="/contact/" rel="pushstate">Call us for a free no-obligation opinion!</a></p>
	<p>We promise to recommend what’s best for your needs, whether we get your business or not.</p>
	<p><a class="bevelButton" href="/" rel="pushstate">Return to Home</a></p>
</div>
	
	