<h2>Pro Joomla!</h2>
<p>Why do we have a page dedicated to a single content management system? We’ve been using Joomla! (and its ancestors) since 2002!</p>
<ul>
<li><strong>Custom Design.</strong> 
	We offer custom template</strong> development for Joomla! using a <a href="/about/graphic-design/" rel="pushstate">certified graphic designer</a>. We also offer custom plug-in, module, and component development. </li>
<li><strong>Quick Maintenance.</strong> Tired of waiting? We pride ourselves on responding quickly to requests, and can ensure that your site and its components are updated as soon as updates are available.</li>
<li><strong>High Performance.</strong> We enhance Joomla! to reduce site bloat and deliver only as much data as each device needs, as quickly as possible.</li>
<li><strong>We keep you updated.</strong> When new security enhancements are available, we notify you by email so that you can choose whether to initiate them yourself or let us handle it.</li>
<li><strong>Totally Mobile.</strong> Whether upgrading or building from scratch, we make your website compatible with today’s handheld devices.</li>
<li><strong>Safe and Secure.</strong> On all new Joomla! sites we install automatic backup and attacker-blocking software, and enable SSL encryption.</li>
<li><strong>Web Store Expertise.</strong> We will set you up to sell online. Need to integrate with a payment system, point-of-sale, or Canada Post? No problem!</li>
<li><strong>Joomla! Training.</strong> We love teaching our clients how to get the most from their website. Our friendly, expert staff can come to your office or coach you using a screen-cast.</li>
</ul>

