<div class="limitWidth">
	<h2>Web Design in Saskatoon</h2>
	<img src="/images/web.png" width="200" height="200" class="contentImg" alt="A 3-D coin graphic with a web design logo" />
	<p>We’ve been building sites since dial-up was a thing and WordPress wasn’t.</p>
	
	<h4>Look different.</h4>
	<p>Ever notice how sites are becoming increasingly generic these days? We strive to stand out from the competition, and will help you do the same.</p>

	<h4>We build what you need, not just what we know. </h4>
	<p>We do custom template development for <a href="/about/joomla-development-saskatoon/" rel="pushstate">Joomla!</a>, WordPress, or whatever CMS you need. Need a scratch-built <a href="/about/interactive-developer-saskatoon/">web application</a>? No&nbsp;problem – you’re using one right now. Big site or small, we do it all.</p>
	<h4>Responsive.</h4>
	<p>Of course our website layouts adjust their layout to fit mobile devices — it’s a must-have these days. But just as important, we pride ourselves on responding quickly to requests and we can ensure that your site and its components are updated as soon as updates are available. That’s <em>really</em> responsive!</p>
	<h4>High performance.</h4>
	<p>We have a big bag of website optimisation tricks which can take your site from fast to blazing fast.</p>
	<h4>Content is king.</h4>
	<p>Your new site will be vying for the attention of both people and search engines. We craft your user interface, content, and site hierarchy for the best reader response and the best ranking.</p>
	
	<p>Check out our <a href="/portfolio/" rel="pushstate">portfolio</a> or <a href="/contact/" rel="pushstate">give us a call</a> to discuss your needs!</p>
</div>