@brand-primary:#caba9c;
@import url(https://fonts.googleapis.com/css?family=Catamaran:400,700|Nothing+You+Could+Do);
//mixins:
.opacity (@opacity: 1) {
	-webkit-opacity: 	@opacity;
	-moz-opacity: 		@opacity;
	opacity: 		@opacity;
}
.border-radius (@radius: 20px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}
.animation (@name, @duration: 500ms, @delay: 0s, ) {
    
	animation: @name @duration @delay ;
	-webkit-animation: @name @duration @delay ;
	-moz-animation:    @name @duration @delay ;
	-ms-animation:     @name @duration @delay ;
	-o-animation:     @name @duration @delay ;
}
.transform(@string){
	-webkit-transform: @string;
	-moz-transform: 	 @string;
	-ms-transform: 		 @string;
	-o-transform: 		 @string;
}

//|Allura
html{
    margin:0;padding:0;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;

}
body{
    overflow-x:hidden;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    color:#333;
    font-family: 'Catamaran', sans-serif;
    line-height: 1.5em;
    font-size:18px;
    font-weight:400;
}
strong{font-weight:700;}
a{
    color:darken(@brand-primary,20%);
    text-decoration:none;
    &:hover{color:darken(@brand-primary,50%);}
}
h1{
        color:@brand-primary;
        font-family: cursive;
        font-size:26px;
        line-height:1em;
        text-align:center;
        margin:80px auto 0;
}
h2{
    
    font-size:24px;
    margin:1.2em auto 0;
    font-family:"Nothing You Could Do";
}
.content{
    margin:0 10%;
}


//.bbq-item{max-width: 40em;margin:0 auto;width:100%;}
.limitWidth{max-width:30em;margin:0 auto;}
dt{
    display:block;
    float:left;
    width:28%;
    text-align:right;
    padding:0 2% 0 0;
}
dd{
    display:block;
    float:left;
    width:70%;
    margin:0;
}
.applyPerspective(){
    
    -webkit-perspective: 300px;
    -moz-perspective: 300px;
    -o-perspective: 300px;
    -ms-perspective: 300px;
    perspective: 300px;
    
    -webkit-perspective-origin: 50% 0%;
    -moz-perspective-origin: 50% 0%;
    -o-perspective-origin: 50% 0%;
    -ms-perspective-origin: 50% 0%;
    perspective-origin: 50% 0%;
    //oh microsoft, why?
    -ms-perspective-origin: 0% -50% !important;
}
.list-divider{list-style-type:none;}
#stage {
    width: 100%;//600px;
    height: 100%;//510px;
    //border: 1px solid #CCC;
    margin: 0 auto;
    position: absolute;
    .applyPerspective();
}
@keyframes descend { from {top:-100px;} to {top:0px;}}
@-moz-keyframes descend { from {top:-100px;} to {top:0px;}}
@-o-keyframes descend { from {top:-100px;} to {top:0px;}}
@-webkit-keyframes descend { from {top:-100px;} to {top:0px;}}
#goback{
        display:block;
        position:fixed;
        background-color:transparent;
        top:0px;
        left:0;
        //text-indent:-9999px;
        //font-size:8em;
        //font-weight:bold;
        z-index:99;
        width:100px;
        height:100px;
        //line-height:.5em;
    //.animation(descend, 1s, 1s);wasn't displaying properly
}
body.revealGobackOnNextLoad #goback{
    //.animation(descend, 1s, 1s);wasn't displaying properly
}

#portfolioPrev,#portfolioNext{
    display:table;
    position:fixed;
    top:0;
    height:100%;
    width:45px; height:100%;
    color:@brand-primary;
    //font-size:8em;
    //font-weight:bold;
    z-index:98;
    line-height:70px;
    a{
        //display:table-cell;
        //vertical-align:middle;
        position:absolute;
        top:50%;
        left:0;
        margin-top:-40px;
        //padding:5px;
        border:2px solid @brand-primary;
        background-color:#fff;
        height:80px;
        width:40px;
        &[href="#"] em.rightArrow{
            color:lighten(@brand-primary,20%);
            border-left: 24px dashed lighten(@brand-primary,20%) !important;
        }
        &:hover em.rightArrow{
            border-left: 24px dashed #000;
        }
        
        &[href="#"] em.leftArrow{
            color:lighten(@brand-primary,20%);
            border-right: 24px dashed lighten(@brand-primary,20%) !important;
        }
        &:hover em.leftArrow{
            border-right: 24px dashed #000;
        }
    }
}
#portfolioPrev{
    left:-3px;
    a{border-radius:0 15px 15px 0;}
}
#portfolioNext{
    right:-3px;
    left:auto;
    text-align:right;
    a{border-radius:15px 0 0 15px;}
}
em.rightArrow{
    display:block;
    border-left: 24px dashed @brand-primary;
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
    position:absolute;
    top:50%;
    left:5px;
    margin-top:-24px;
}
em.leftArrow{
    display:block;
    border-right: 24px dashed @brand-primary;
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
    position:absolute;
    top:50%;
    right:5px;
    margin-top:-24px;
}

.portfolioGroup{float:left;margin-right:3%;width:30%;}
.portfolioGroups{}
.featureImg{margin:3em auto 1em;display:block;max-width:600px;width:100%;}
.shadowed{
    -webkit-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 1px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 1px 10px 0px rgba(50, 50, 50, 0.75);
}
nav{
    width: 100%;
    height:190px;
    max-width: 600px;
    margin: -110px auto 0;
    position:relative;
    z-index:2;
    svg{
        //width:100%;
        //height:auto;
        z-index:1;
        max-width:566px;
        max-height:190px;
    }
    &.no-svg{
        background-image:url('/images/navAltBg.png') 0 0 no-repeat;    
    }
}
#confidantLogo{
    width:100%; 
    max-width:600px;
    z-index:1;
}
//allan portrait
.contentImg{float:right;margin:0 0 0 10px;width:202px;height:202px;}
@media screen and (max-width:780px){
    nav{
        margin-top:-15%;
        svg{
            //width:100%;
            //height:auto;
            max-width:566px;
            max-height:190px;
        }
    }
    .portfolioGroup{float:none;width:100%;margin:0;}
    .content{margin: 0 100px;}
    h1{font-size:2em;}
    h2{font-size:1.2em;margin:1em auto 0;}
    .contentImg{float:none;margin:0 auto;display:block;}
    
}


@media screen and (max-width:480px) and (orientation:portrait){
    #confidantLogo{
        margin-top:10%;
        //max-width:160px;
    }
    .content{margin: 0 10px;padding-bottom:90px;}
    #portfolioPrev , #portfolioNext {
        height:40px;
        top:auto;
        bottom:0;
        a{
            height:40px;
            width:20px;
            top:auto;bottom:-2px;
            padding:5px;
            font-size:60px;
            border:2px solid @brand-primary;
            background-color:#fff;
            line-height: 38px;
            
            &[href="#"] em.rightArrow{
                border-left: 18px dashed lighten(@brand-primary,20%) !important;
            }
            &:hover em.rightArrow{
                border-left: 18px dashed #000;
            }
            
            &[href="#"] em.leftArrow{
                border-right: 18px dashed lighten(@brand-primary,20%) !important;
            }
            &:hover em.leftArrow{
                border-right: 18px dashed #000;
            }
        }
    }
    em.rightArrow{
        border-left: 18px dashed @brand-primary;
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent;
        margin-top:-18px;   
    }
    em.leftArrow{
        border-right: 18px dashed @brand-primary;
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent;
        margin-top:-18px;   
    }
    #portfolioPrev a{border-radius:0 15px 0 0;}
    #portfolioNext a{border-radius:15px 0 0 0;left:auto;right:0;}
    #goback {
        width:50px;height:50px;
        img{
            width:50px !important;height:50px !important;
        }
    }
    nav{
        margin-top:-22%;
    }
}
@media screen and (max-height:480px) and (orientation:landscape){
    #confidantLogo{
        margin:0 auto 10px;
        max-width:160px;
    }
    nav{max-width:400px;margin-top:-90px;}
}
#panel1,#panel2,#panel3{
    will-change:transform, opacity;
}
#panel1 { //homepage logo
    position: fixed;
    top: 50%;
    left: 50%;//250px; //container width / 2 minus half of panel width
    width: 100%;
    height: auto;
    .transform(translateX( -50% ) translateY( -50% ) translateZ(@zDepth0));
    text-align:center;
    opacity: 1;
    background-color:#fff;
    h1{margin:80px 0 0;}
    ul{
        width:100%;
        height:100%;
        //background-color:red;
        //margin:-40px auto 0;
        padding:0;
        text-align:center;
        //perspective: 300px;
        //perspective-origin: 50% 0%;

        position:absolute;
        top:0;
        left:0;
    }
    li{
       list-style-type:none;
        margin:0;padding:0;
        display:inline-block;
        //position:absolute;
        margin:0 1%;
        
        
        width:20%;
        height:100%;
    }
   nav a{
       background-color:rgba(30,30,30,0);
        display:block;
        height:100%; width:100%;
        text-indent:-9999px;
    }
    
    @media screen and (max-width:600px){
        a{font-size:2em;}
        ul{width:100%;}
    }
    
}
#panel2 { //main navigation
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    display:none;
    //background-color:rgb(240,240,240);
    //background-color:rgba(255,255,255,.8);
    background-color:transparent;
    overflow-y:scroll;
    padding:0;
    h1{
        margin:2em auto 0;
    }
    ul{margin:0.5em auto 0;}
    p{margin-top:0;}
    ul+p{margin-top:1.5em;}
    @media screen and (max-width:400px){
        h1{font-size:1em;}
        svg{width:80%;}
    }
}
.scrolldown {   
    text-align:center;
    font-size:2em;
}
#panel3{
    position:relative;
    top:0;left:0;
    background-color:transparent;
    //background-color:#fff;
    .content{
        *{max-width:600px;margin-left:auto;margin-right:auto;}
        padding-bottom:30px;
        img{max-width:600px;width:100%;}
    }
    h2,h3{text-align:center;}
    
    h2{font-size:35px;line-height:.8em;color:#666;}
    .loading{text-align:center;display:none;}
}

@zDepthHidden: -2000px;
@zDepth0: 0px;
@zOpacity0: 1;
@zDepth1: -800px;
@zOpacity1: .15;
@zDepth2: -1200px;
@zOpacity2: .07;
@zDepth3: -1600px;
@zOpacity3: 0;
.mytransform(@d) {
        transform: translateX( -50% ) translateY( -50% ) translateZ(@d);
        -webkit-transform: translateX( -50% ) translateY( -50% ) translateZ(@d);
        -moz-transform: translateX( -50% ) translateY( -50% ) translateZ(@d);
        -o-transform: translateX( -50% ) translateY( -50% ) translateZ(@d);
        -ms-transform: translateX( -50% ) translateY( -50% ) translateZ(@d);
}
@keyframes zoom3to2 { //recessed3 to recessed2
    from {
        .opacity(@zOpacity3);
        .mytransform(@zDepth3);
    }
    to {
        .opacity(@zOpacity2);
        .mytransform(@zDepth2);
    }
}
@keyframes zoom2to1 { //recessed2 to recessed1
    from {
        .opacity(@zOpacity2);
        .mytransform(@zDepth2);
        }
    to {
        .opacity(@zOpacity1);
        .mytransform(@zDepth1);
        }
}
@keyframes zoom1to0 { //recessed1 to normal
    from {
        .opacity(@zOpacity1);
        .mytransform(@zDepth1);
        }
    to {
        .opacity(@zOpacity0);
        .mytransform(@zDepth0);
        }
}

@keyframes zoom0to1 { //normal to recessed1
    from {
        .opacity(@zOpacity0);
        .mytransform(@zDepth0);
        }
    to {
        .opacity(@zOpacity1);
        .mytransform(@zDepth1);
        }
}
@keyframes zoom1to2 { //recessed1 to recessed 2
    from {
        .opacity(@zOpacity1);
        .mytransform(@zDepth1);
        }
    to {
        .opacity(@zOpacity2);
        .mytransform(@zDepth2);
        }
}
@keyframes zoom2to3 { //recessed2 to recessed 3
    from {
        .opacity(@zOpacity2);
        .mytransform(@zDepth2);
        }
    to {
        .opacity(@zOpacity3);
        .mytransform(@zDepth3);
        }
}
@keyframes fadein0to1{
    from {
        .opacity(@zOpacity3);
    }
    to {
        .opacity(@zOpacity0);
        }
}
@keyframes fadeout1to0{
    from {
        .opacity(@zOpacity0);
        }
    to {
        .opacity(@zOpacity3);
        }
}

#loader{
    display:none;
    position:fixed;
    top:50%;
    left:50%;
    width:100px;height:30px;
    margin-left:-70px;
    margin-top:-15px;
    background-color:#fff;
    border-radius:20px;
    border:3px solid @brand-primary;
    padding:1em;
    text-align:center;
    font-weight:700;
    -webkit-box-shadow: 6px 6px 17px 0px rgba(50, 50, 50, 0.95);
    -moz-box-shadow:    6px 6px 17px 0px rgba(50, 50, 50, 0.95);
    box-shadow:         6px 6px 17px 0px rgba(50, 50, 50, 0.95);
    //.opacity(0);
    //.animation(fadeout1to0,500ms,0s);
    &.show{
        display:block;
        .animation(pulse,4000ms,0s);
        
        animation-iteration-count: infinite;
    }
}
@keyframes pulse {
	0%,30%, 100% {.opacity(0);}
	80% {.opacity(1);}
}
#stage {
    .recessed0 {
        display:block;  //was none before
        .mytransform(@zDepth0);
        .opacity(1);
        
    }
    //this rule was added because webkit was badly displaying text when the transforms were applied
    #panel3.recessed0{
        .transform(none);
        
        .loading{display:block;}
    }
    
    .recessed1 {
        .mytransform(@zDepth1);
        .opacity(@zOpacity1);
    	animation-name: zoom0to1;
    	animation-duration: 0.5s;
    	overflow:hidden;
    	
        &.recessed2{
            .mytransform(@zDepth2);
            .opacity(@zOpacity2);
        	animation-name: zoom1to2;
        	animation-duration: 0.5s;
            /*&.recessed3{
                .mytransform(@zDepth3);
                opacity: @zOpacity3;
            	animation-name: zoom2to3;
            	animation-duration: 0.5s;
            }*/
        }
    }
    &.forward{ 
        .recessed0{
            animation-name: fadein0to1;
    	    animation-duration: 0.5s;
        }
    }
    
    &.reversed{ //reversed animation
        #panel1,#panel2{  //#panel3 
            animation-name: zoom1to0;
    	    animation-duration: 0.5s;
    	    
    	    &.recessed1{
    	        animation-name: zoom2to1;
    	        animation-duration: 0.5s;
    	        &.recessed2{
        	        animation-name: zoom3to2;
        	        animation-duration: 0.5s;
        	    }
    	    }
        }
        
    }
}