<!doctype html>
<html lang="en">
<head>
	<link rel="shortcut icon" href="favicon.ico" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
	<title>::title::</title>  
	<link rel="stylesheet" href="css/home.css" media="screen" />
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
</head>
<body data-uf-layout="confidantlayout">
	<div class="container">
		
		<div id="stage" class="container">
			<div id="panel1">
				<h1><img src="images/confidantLogo.jpg" alt="Confidant Communications" /></h1>
			
				<ul id="nav" class="bbq-nav">
					<li id="about"><a rel="pushstate" href="/about" title="Award-winning freelance graphic design in Saskatoon">About&#8239;Us</a></li>
					<li id="portfolio"><a rel="pushstate" href="/portfolio" title="View my websites, print design, interactive programming, web applications">Portfolio</a></li>
					<li id="portfolio2"><a rel="pushstate" href="/portfolio/123" title="">Partial</a></li>
					<li id="blog"><a href="http://confidant.ca/blog/" title="Thoughts on creativity, coding, and life.">Blog</a></li>
					<li id="contact"><a rel="pushstate" href="/contact" title="Phone numbers, email, etc.">Contact&#8239;Us</a></li>
				</ul>
				<a class="goback" title="Main Menu" href="/">Home</a>
			</div>
			
		<div id="panel2" class="bbq">
			<div class="bbq-content">
				<div class="bbq-loading" style="display:none;">Loading…</div>
				<div class="bbq-default bbq-item" style="">
				  ::viewContent::
				</div>
			</div>
			
		</div>
		<div id="panel3">
			<div class="bbq-content2">
				<div class="bbq-loading" style="display:none;">Loading…</div>
				<div class="bbq-default bbq-item" style="">
				  ::subcontent::
				</div>
			
			</div>
		</div>
		
		</div>
		<!--script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenLite.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TimelineLite.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/easing/EasePack.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/plugins/CSSPlugin.min.js"></script -->
		<nav>
			<button id="previous" data-increment="-1">Previous</button>
			<button id="next" data-increment="1">Next</button>
		</nav>
	</div>
	<script type="text/javascript" src="js/interface.js"></script>
	<script type="text/javascript" src="js/client.js"></script>
</body>
</html>