<!doctype html>
<html lang="en">
<head>
	<link rel="shortcut icon" href="favicon.ico" />
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
	<title>::title::</title>  
	<link rel="stylesheet" href="/css/home.css" media="screen" />
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
</head>
<body data-uf-layout="confidantlayout">
	<div class="container">
		
		<div id="stage" class="">
			<div id="panel1">
				<h1><img src="/images/confidantLogo.jpg" alt="Confidant Communications" /></h1>
			
				<ul id="nav" class="bbq-nav">
					<li id="about"><a rel="pushstate" href="/about/" title="Award-winning freelance graphic design in Saskatoon">About&#8239;Us</a></li>
					<li id="portfolio"><a rel="pushstate" href="/portfolio/" title="View my websites, print design, interactive programming, web applications">Portfolio</a></li>
					<li id="blog"><a href="http://confidant.ca/blog/" title="Thoughts on creativity, coding, and life.">Blog</a></li>
					<li id="contact"><a rel="pushstate" href="/contact/" title="Phone numbers, email, etc.">Contact&#8239;Us</a></li>
				</ul>
			</div>
			
			<div id="panel2" class="bbq">
				<div class="bbq-content" data-uf-partial="panel2Partial">
					::viewContent::
				</div>
			
			</div>
			<div id="panel3">
				<div class="bbq-content">
					<div data-uf-partial="portfolioNavPartial" style="">
						::portfolioItem::
					</div>
				</div>
			</div>
			<a id="goback" href="#" rel="pushstate" title="Go Back One Level">^</a>
		</div>
	</div>
	<script type="text/javascript" src="/js/client.js"></script>
</body>
</html>