<div class="limitWidth">
<h1>
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="300px" height="170px" viewBox="0 0 300 170" enable-background="new 0 0 300 170" xml:space="preserve">
<title>About Us</title>
<desc>Award-winning freelance graphic design and website development in Saskatoon.</desc>
<use xlink:href="#aboutMC" filter="url(#inset-shadow)" width="116" height="54.823" id="about" x="-5" y="-54" transform="matrix(3 0 0 -3 0 0)" overflow="visible"/>
</svg>
</h1>
<h2>Twenty-Plus Years of Multimedia</h2>

<p>Confidant Communications is a design and interactive development firm in Saskatoon, Saskatchewan with experience dating back to 1995. </p>
<p>We are dedicated to providing high quality professional graphic design and multimedia services done with morality, integrity and good humour. </p>
<p>For anything print or digital – <a href="/contact/" rel="pushstate">call us</a>!</p>
<h2>Specialties:</h2>
<ul class="specialties">
	<li class="delay1"><a href="/about/graphic-design/" rel="pushstate">Graphic Design</a></li>
	<li class="delay2"><a href="/about/joomla-development/" rel="pushstate">Joomla Websites</a></li>
	<li class="delay3"><a href="/about/interactive/" rel="pushstate">Interactive Development</a></li>
	<li class="delay4"><a href="/about/web-design-saskatoon/" rel="pushstate">Web Design</a></li>
	<li class="delay5"><a href="/about/book-design-saskatoon/" rel="pushstate">Book Design</a></li>
</ul>

<h2>Achievements</h2>
<ul>
<li>AMTEC awards in 2002 and 2005</li>
<li>Professional member of the Graphic Designers of Canada (CGD)</li>
<li>Approved Saskatchewan government supplier</li></ul>

<p>Confidant Communications is owned and operated by Allan Dowdeswell, <abbr title="Certified Graphic Designer">CGD</abbr> in Saskatoon, Saskatchewan.</p>
</div>