<div class="limitWidth">
	<h1>
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		width="300px" height="170px" viewBox="0 0 300 170" enable-background="new 0 0 300 170" xml:space="preserve">
	<title>About Us</title>
	<desc>Award-winning freelance graphic design and website development in Saskatoon.</desc>
	<use xlink:href="#aboutMC" filter="url(#inset-shadow)" width="116" height="54.823" id="aboutHeader" x="-5" y="-54" transform="matrix(3 0 0 -3 0 0)" overflow="visible"/>
	</svg>
	</h1>
	<h2>Decades of Multimedia</h2>

	<p>Confidant Communications is a small design and interactive development firm in Saskatoon, Saskatchewan with experience dating back to 1995. </p><p>We are dedicated to providing high quality services done with morality, integrity and good humour. </p>
	<ul class="checky">

		<li>Big agency service — small company prices. </li>
		<li>Approved Saskatchewan government supplier. </li>
		<li>Always includes three or more items in a list. </li>
	</ul>

	<h2>Specialties (Click Below)</h2>

	<ul class="specialties">
		<li><a id="interactive" title="Learn more about our technical capabilities" href="/about/interactive-developer-saskatoon/" rel="pushstate"><img src="/images/interactive.png" class="bulletImg" alt="Interactive Programming in Saskatoon" />Interactive Development</a></li>
		<li><a id="graphics" title="Learn more about our award-winning graphic design services" href="/about/graphic-design-saskatoon/" rel="pushstate"><img src="/images/graphics.png" class="bulletImg" alt="Graphic Design in Saskatoon" />Graphic Design</a></li>
		<li><a id="joomla" title="Learn more about our Joomla! specialty" href="/about/joomla-development-saskatoon/" rel="pushstate"><img src="/images/joomla.png" class="bulletImg" alt="Joomla! development in Saskatoon" />Joomla! Websites</a></li>
		<li><a id="web" title="Learn more about our web design expertise" href="/about/web-design-saskatoon/" rel="pushstate"><img src="/images/web.png" class="bulletImg" alt="Web designer in Saskatoon" />Web Design</a></li>
		<li><a id="books" title="Learn more about our services for book authors and publishers" href="/about/book-design-saskatoon/" rel="pushstate"><img src="/images/books.png" class="bulletImg" alt="Book design in Saskatoon" />Book Design</a></li>
		
	</ul>
	<h2>Clients</h2>
	<p>We serve all types of clients: film, publishing, advertising, corporate, church, food, service, government – well, you get the idea. We have done work for Intel, Calgary Stampeders, TransCanada, CN Rail, Hitachi, Siemens, Agriculture and Agri-Food Canada, Health Canada, National Film Board of Canada, Cameco, PotashCorp, Government of Saskatchewan, SaskPower, Tourism Saskatchewan, ICR, and Saskatchewan Polytechnic. </p>
	<p>You can be a client too – <a href="/contact/" rel="pushstate">call us</a>!</p>
</div>