<html>
<body data-uf-layout="confidantlayout">
<div data-uf-partial="panel2Partial">
<h1>About Us</h1>
::message::
::renderedBy::
<p>Confidant Communications is owned and operated by Allan Dowdeswell, <abbr title="Certified Graphic Designer">CGD</abbr> in Saskatoon, Saskatchewan.</p>
<h4>Things Mom Likes:</h4><ul><li>2009 Premier’s Award for Excellence in Graphic Design</li><li>AMTEC awards in 2002 and 2005</li><li>Professional member of the Graphic Designers of Canada (CGD)</li><li>Approved Saskatchewan government supplier</li></ul><h4 id="p2">Best Tricks:</h4><ul><li>Graphic design for any media since 1995</li><li>Advanced interactive programming (HTML5, Flash, Haxe, JavaScript) for desktop and mobile</li><li>Joomla website development and mobile upgrades</li><li>Animation, video, and audio</li></ul><p>Confidant is dedicated to providing high quality professional design and multimedia services done with morality, integrity and good humour.</p>
</div>
</body>
</html>