<h1>
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="230px" height="111px" viewBox="0 0 230 111" enable-background="new 0 0 230 111" xml:space="preserve">
<title>Portfolio</title>
<desc>The best examples of my websites, graphic design, interactive programming, web applications</desc>
<use xlink:href="#portfolioMC_1_" filter="url(#inset-shadow)" width="116" height="54.823" id="portfolio" x="-1.061" y="-54.211" transform="matrix(2 0 0 -2 0 0)" overflow="visible"/>
</svg>
</h1>
<div class="portfolioGroups">
		
		::foreach content::
			    ::if (group == 1)::<div class="portfolioGroup"><h2>Interactive Development</h2><ul><li><a href="/portfolio/::slug::/" rel="pushstate">::title::</a></li>
			    ::elseif (group == 2)::</ul></div><div class="portfolioGroup"><h2>Graphic Design</h2><ul><li><a href="/portfolio/::slug::/" rel="pushstate">::title::</a></li>
			    ::elseif (group == 3)::</ul></div><div class="portfolioGroup"><h2>Websites</h2><ul><li><a href="/portfolio/::slug::/" rel="pushstate">::title::</a></li>
			    ::elseif (group == 999)::<li><a href="/portfolio/::slug::/" rel="pushstate">::title::</a></li></ul></div>
			    ::else::<li><a href="/portfolio/::slug::/" rel="pushstate">::title::</a></li>
			    ::end::
		::end::
</div>