<html>
<body data-uf-layout="site-page">
			<h1>::title::</h1>
			<div id="copy">
				<div data-role="page" id="p0" data-theme="a">

				</div>
				
				<div data-role="page" id="pi1" data-theme="a">
					<h2>Interactive Development</h2>
					<div data-role="content">
						<img class="featureImg" src="images/cn-card.jpg" style="width:100%;max-width:600px;" alt="" />
						<p id="id1">If you need something that goes beyond a mere website, please <a href="#contact.html" title="Contact Confidant">give me a call</a>. I've done games, animation, motion graphics and applications for clients such as Cameco, CN, Calgary Stampeders, Government of Canada, ICR, PotashCorp and SIAST. Keep browsing to see a few! <span class="hidden">(click the arrow)</span></p>
						
					</div>
				</div>
				<div data-role="page" id="pi2" data-theme="a">
					<h2>ThinkSask.ca</h2>
					<div data-role="content">
						<img class="featureImg" src="images/thinksask.jpg" style="width:100%;max-width:600px;" alt="" />
						<p id="id2">ThinkSask was a data-displaying animated application done in Flash and then converted to HTML5/JavaScript using Haxe. <a href="http://confidant.ca/demo/thinksask/" target="_blank" title="Visit the ThinkSask website">Go check it out.</a></p>
						
					</div>
				</div>

				<div data-role="page" id="pi3" data-theme="a">
					<h2>Wapos Bay Flash Site</h2>
					<div data-role="content">
						<img class="featureImg" src="images/waposbay.jpg" style="width:100%;max-width:600px;" alt="" />
						<p id="id3">The Wapos Bay website required maximum performance for video playback and future expandibility. Over several months I built a complete website framework optimized for interactive video websites with multiple scenes. <a href="http://waposbay.com" target="_blank" title="Visit the Wapos Bay website">Experience it!</a></p>
						
					</div>
				</div>
				<div data-role="page" id="pi4" data-theme="a">
					<h2>PotashCorp Slideshow Player</h2>
					<div data-role="content">
						<img class="featureImg" src="images/PotashCorp-Player.jpg" style="width:100%;max-width:600px;" alt="" />
						<p id="id4">While at <a href="http://zu.com/" target="_blank">zu</a> I built the PotashCorp Flash slideshow player which synchronizes slides with video playback. <a href="http://potashcorp.s3.amazonaws.com/am10/index.html" target="_blank" title="Visit the PotashCorp slide show player">See it in action!</a></p>
						
					</div>
				</div>
				<div data-role="page" id="pi5" data-theme="a">
					<h2>Shelterbelt Design Tool</h2>
					<div data-role="content">
						<img class="featureImg" src="images/aafc_shelterbelt.jpg" style="width:100%;max-width:600px;" alt="" />
						<p id="id5">This Shelterbelt Design Tool built for Agriculture and Agri-Food Canada is a mobile-friendly and accessible web application to let users create shelterbelt plans on a global map. Also built with Haxe — <a href="http://aafc.confidant.ca/" target="_blank" title="Try out the Shelterbelt Design Tool">try it out!</a></p>
						
					</div>
				</div>
				<div data-role="page" id="pi6" data-theme="a">
					<h2>Lentil Hunter Map</h2>
					<div data-role="content">
						<img class="featureImg" src="images/lentilhunter.jpg" style="width:100%;max-width:600px;" alt="Interactive Map built using Haxe" />
						<p id="id6">The Lentil Hunter Map is a prime example of the power of the Haxe language with OpenFL. It is an application that uses an entire browser window to navigate a map and view videos. Mobile, Flash and HTML5 versions ensure that a wide variety of devices are supported. <a href="http://confidant.ca/demo/lentilhunter/" target="_blank" title="View the Lentil Hunter Map">See it!</a></p>
						
					</div>
				</div>

				
				<div data-role="page" id="p1" data-theme="a">
					<h2>Book Cover Design</h2>
					<div data-role="content">
						<img class="featureImg" src="images/Treacherous-cover-shots.jpg" style="width:100%;max-width:585px;" alt="Treacherous Book Cover Design" />
						<p id="tr1">Winner of Saskatchewan’s Premier’s Award of Excellence in Graphic Design (2009). This book is the account of an RCMP agent among the Hells Angels. I named the book and desiged it to communicate the author’s desperation and to give a sense of his dangerous situation and lifestyle. <span class="hidden">(Click the arrow for more designs)</span></p>
						
						<img class="featureImg" src="images/AjaxAndMe.jpg" style="width:100%;max-width:333px;" alt="Ajax and Me Book Cover Design" />
						<p id="aj1">Ajax and Me is a glimpse into the lives of “boys being boys” and a fast-paced tale of adventure and misadventure written by a Métis author. I designed the cover and did ink illustrations for each chapter.</p>
						
						<img class="featureImg" src="images/HowToCallAMoose.jpg" style="width:100%;max-width:323px;" alt="How To Call A Moose Book Cover Design" />
						<p id="ht1">This is Andrew Fehr’s first collection of hilarious short stories about hunting and fishing. The cover needed to tell at a glance what sort of humour the reader could expect.</p>
						
						<img class="featureImg" src="images/IAPIM.jpg" style="width:100%;max-width:300px;" alt="Inside a Police Informant’s Mind Book Cover Design" />
						<p id="iapim1">This book serves as an honest account of the role, risks, and motives of police informants. The cover clearly communicates how the book addresses the relationship between agents and their handlers.</p>
						
						
					</div>
				</div>
				
				<div data-role="page" id="p1a" data-theme="a">
					<h2>BarCamp T-Shirt</h2>
					<div data-role="content">
						<img class="featureImg" src="images/BarCampTShirt.png" style="width:100%;max-width:600px;" alt="BarCamp T-Shirt" />
						<p id="bc1">BarCamp is an ad-hoc “unconference” in which attendees volunteer to make presentations in their areas of expertise. BarCamp topics are usually related to business, communications and technology.</p>
<p id="bc2">I knew the irony of using Egyptian hieroglyphics for a typically hi-tech event would be appreciated by an audience that is used to being bombarded with brushed metal and glossy icons. </p>
						
						
					</div>
				</div>
				
				<div data-role="page" id="p1b" data-theme="a">
					<h2>X-110 Package Design</h2>
					<div data-role="content">
						
						<img class="featureImg" src="images/X-110s.jpg" style="width:100%;max-width:600px;" alt="X-110 Product Packaging" />
						<p id="x110">I worked with Evova Foods to create a product name and branding strategy for these tasty egg protein snacks. Ten grams of protein with only 110 calories!</p>						
						
						
					</div>
				</div>
				
				<div data-role="page" id="p7" data-theme="a">
					<h2>Logo Design</h2>
					<div data-role="content">
						<img class="featureImg" src="images/Inner_Sanctum_logo.jpg" style="width:100%;max-width:600px;" alt="Inner Sanctum Artworks Logo" />
						<p id="is1">This gallery carries artworks which are spiritually uplifting, so I used the imagery of medieval illuminated manuscripts to communicate this. <span class="hidden">(Click the arrow for more logo designs)</span></p>
					
						<img class="featureImg" src="images/Coastal-West-logo.png" style="width:100%;max-width:792px;" alt="Coastal West Publishing Logo Design" />
						<p id="cw1">Coastal West required a mark which would be effective on book spines and allude to both their name and their philosophy of “making ripples” in the world through publishing.</p>
					
						<img class="featureImg" src="images/AlteredEgg-logo.png" style="width:100%;max-width:470px;" alt="AlteredEgg.com Logo Design" />
						<p id="ae1">AlteredEgg.com exists to provide resources to Christians in fields of creative communication. The egg design is symbolic of new life, and the intrigue of what lays within.</p>
					
						<img class="featureImg" src="images/livinghope.png" style="width:100%;max-width:600px;" alt="Living Hope Church Logo Design" />
						<p id="lh1">Living Hope wanted their logo to symbolise the treasure that is to be found in a relationship with God. </p>
						
						<img class="featureImg" src="images/Ascend-Logo.png" style="width:100%;max-width:500px;" alt="Ascend Leadership Project Logo Design" />
						<p id="al1">Ascend is a program in which young people intentionally live together and undergo spiritual mentorship. The logo alludes to Biblical mountaintop experiences in which people meet with God.</p>
						
						<img class="featureImg" src="images/RDL-Logo.png" style="width:100%;max-width:450px;" alt="RDL Enterprises Logo Design" />
						<p id="rd1">RDL is a Christian book publishing company. The old logo featured a cross and a book and needed a professional-looking update that could be displayed in a variety of sizes.</p>
						
						
					</div>
				</div>
				
				<div data-role="page" id="p2a" data-theme="a">
					<h2>Agtron</h2>
					<div data-role="content">
						<img class="featureImg" src="images/Agtron-for-portfolio.jpg" style="width:100%;max-width:600px;" alt="Agtron Responsive Joomla Website" />
						<p id="ag1">Agtron needed a new design for their Joomla site which was attractive, mobile-friendly, and multi-language. They were very happy with the result! <a href="http://www.agtron.com/" target="_blank" title="Agtron’s responsive design Joomla site">Visit the site.</a> <span class="hidden">(Click the arrow for more designs)</span></p>
						
					</div>
				</div>
				
				<div data-role="page" id="p2b" data-theme="a">
					<h2>Faith River</h2>
					<div data-role="content">
						<img class="featureImg" src="images/Faith-River-website-small.jpg" style="width:100%;max-width:600px;" alt="Faith River Christian Fellowship Joomla Template Design" />
						<p id="fr1">Faith River Christian Fellowship needed an attractive website that was easy to navigate, easy to update, and provided resources for both attenders and non-attenders. The Joomla content management system fit their website and podcasting needs perfectly. <a href="http://www.faithriver.ca" target="_blank" title="Faith River’s church website">Visit the site.</a></p>
						
					</div>
				</div>
				
				<div data-role="page" id="p3" data-theme="a">
					<h2>All-West Dental</h2>
					<div data-role="content">
						<img class="featureImg" src="images/allwest-home.jpg" style="width:100%;max-width:585px;" alt="All-West Dental Web site Design" />
						<p id="aw1">This design was done as an employee of <a href="http://zu.com/" target="_blank">zu</a>. The clean look of the site lends itself well to the clinical nature of their practise and complements the logo nicely.</p>
						
					</div>
				</div>
				
				
				
				<div data-role="page" id="p5" data-theme="a">
					<h2>Mable Elliott Guest Ranch</h2>
					<div data-role="content">
					<img class="featureImg" src="images/me.jpg" style="width:100%;max-width:500px;" alt="Mable Elliott Guest Ranch Website Design" />
						<p id="me1">To attract local and international visitors to a ranch where “horses give great hugs”, Mable needed a website with a friendly look that strongly communicated the western experience.</p>
						
					</div>
				</div>
				
				<div data-role="page" id="p6" data-theme="a">
					<h2>J.B. Black Estates</h2>
					<div data-role="content">
						<img class="featureImg" src="images/jbblack3.jpg" style="width:100%;max-width:688px;" alt="J.B. Black Estates Flash Website" />
						<p id="jb1">Kolisnek Developments <br />wanted a website upgrade when they improved their online marketing strategy for J.B. Black Estates. Confidant designed and developed a complete Flash website that was search engine friendly and easy to update. The high-quality photography needed maximum screen real estate to be the most effective. <a href="http://confidant.ca/demo/jbblack/" target="_blank" title="J.B. Black Real Estate Website">Visit the site (Flash required).</a></p>
						
					</div>
				</div>
				
				<div data-role="page" id="p8" data-theme="a">
					<h2>ICR Commercial Real Estate</h2>
					<div data-role="content">
						<img class="featureImg" src="images/ICR-web.jpg" style="width:100%;max-width:600px;" alt="ICR Commercial Real Estate Website" />
						<p id="icr1">This was a large Joomla website upgrade with a mobile-compatible design overhaul and much customised development to ensure the best experience for both agents and customers. <a href="http://icrcommercial.com/" target="_blank" title="ICR Commercial Real Estate Website">Visit the site.</a></p>
						
					</div>
				</div>
				
				<div data-role="page" id="p9" data-theme="a">
					<h2>Transforming Teachers</h2>
					<div data-role="content">
						<img class="featureImg" src="images/TransformingTeachers.png" style="width:100%;max-width:282px;" alt="Transforming Teachers Website" />
						<p id="tt1">This was another large Joomla website upgrade including mobile device compatibility. The chalkboard images work well to communicate the educational context of the site. <a href="http://transformingteachers.org/" target="_blank" title="Transforming Teachers Website">Visit the site.</a></p>
						
					</div>
				</div>
            
				
			</div>

</body>
</html>            